<div class="card-item shadow-sm d-flex flex-column">
	<div class="text-center">
		<img class="card-image" src="{{card.imageUrl}}" alt="{{card.name}}">
	</div>
	<div class="pl-3 pr-3 overflow-y">
		<h6 class="mb-2">{{card.name}}</h6>
		<div class="card-text small mb-2 font-italic">
			{{card.text}}
		</div>
		<ul class="card-properties pl-3 small">
			<li><span class="font-weight-bold">Set Name:</span> {{card.setName}}</li>
			<li><span class="font-weight-bold">Type:</span> {{card.type}}</li>
		</ul>
	</div>
</div>
