@import '../../../../styles/variables';

.cards {
	display: grid;
	grid-gap: 1.5rem;
	padding-bottom: 1.5rem;
	justify-items: center;
}

@media (min-width: 560px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1024px) {
	.cards {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1390px) {
	.cards {
		grid-template-columns: repeat(5, 1fr);
	}
}
